/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
  font-family: 'Montserrat', sans-serif;
}

* a,
* button {
  outline: none;
  box-shadow: none;
}

.redText{
  color: #d11a2a;
}
